body {
	font-size: 14px;
}

input {
	height: 2.5em;
	border: 1px solid #c0c0c0;
	border-radius: 0.2em;
	padding: 0.5em;
	background-color: #ffffff;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

input:focus, button:focus {
	border-color: #808080;
}

button {
	height: 2.5em;
	border: 1px solid #c0c0c0;
	border-radius: 0.2em;
	padding: 0.5em;
	background-color: #e0e0e0;
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
	background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
	background-image: linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.5);
}

button:active {
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.5);
}

#query-wrapper {
	border-bottom: 1px solid #c0c0c0;
	background-color: #e0e0e0;
}

#query, #log {
	max-width: 800px;
	margin: auto;
	padding: 1.0em;
}

#query-caption {
	float: left;
	margin-right: 0.25em;
	margin-top: 0.1em;
	font-size: 2.0em;
	line-height: 1.0em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

#query-submit {
	float: right;
	width: 2.5em;
	margin-left: 0.5em;
}

#query-input-wrapper {
	overflow: auto;
}

#query-input {
	width: 100%;
	margin-bottom: 1px;
}

.result {
	margin-left: 16px;
	margin-bottom: 0.5em;
	padding-left: 0.5em;
	font-size: 1.0em;
}

.result:before {
	content: ' ';
	position: absolute;
	width: 16px;
	height: 16px;
	left: -16px;
	top: 0.2em;
	background-repeat: no-repeat;
}

.result a {
	color: inherit;
	text-decoration: underline;
}

.result .whois {
	display: none;
	font-size: 0.7em;
}

.result .whois.visible {
	display: block;
}

.result .expand {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-left: 0.5em;
	border: none;
	background-color: transparent;
	background-image: url('/images/expand.png');
	background-repeat: no-repeat;
}

.processing .expand {
	display: none;
}

.result .expand:active {
	box-shadow: none;
}

.processing:before {
	background-image: url('/images/processing.gif');
}

.free:before {
	background-image: url('/images/free.png');
}

.occupied:before {
	background-image: url('/images/occupied.png');
}

.wrong:before {
	background-image: url('/images/wrong.png');
}

.processing .query {
	
}

.free .query {
	color: #008000;
}

.occupied .query {
	color: #800000;
}

.wrong .query {
	color: #800000;
}
